@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-width: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 50px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    position: relative;
    max-width: 600px;
    
}
.content .textBox h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    
}

.content .textBox h2 span
{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
    
}
.content .textBox p
{
    color: #333;
    
}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;    
}
.content .imgBox 
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    margin-top: 60px;
    
}
.content .imgBox img
{
max-width: 400px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-left: 30%;
    margin-top: -5%;
    margin-bottom: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-width: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 100px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    position: relative;
    max-width: 600px;
    
}
.content .textBox h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    
}

.content .textBox h2 span
{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
    
}
.content .textBox p
{
    color: #333;
    
}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;    
}
.content .imgBox 
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    margin-top: 60px;
    
}
.content .imgBox img
{
max-width: 400px;
}
}